In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pdS

In [79]:
df = pd.read_csv('data.csv')
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values

for col in numeric_cols:
    missing = df[col].isnull()
    num_missing = np.sum(missing) 
    if num_missing > 0:
        med = df[col].median() 
        df[col] = df[col].fillna(med)


# fill NaN = top values in column
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
for col in non_numeric_cols:
    missing = df[col].isnull()
    num_missing = np.sum(missing)
    if num_missing > 0:  
        mod = df[col].describe()['top'] 
        df[col] = df[col].fillna(mod) 


# print(df_non_numeric)
# for i in range(0, len(df_non_numeric.columns)):
#     # print(df_non_numeric[df_non_numeric.columns[i]])
#     list_set = set(df_non_numeric[df_non_numeric.columns[i]])
#     unique = (list(list_set))
#     # print(len(unique))
#     for j in range(0, len(unique)):
#         df[df_non_numeric.columns[i]] = df[df_non_numeric.columns[i]].replace(unique[j], j)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   applicant_id                    25000 non-null  int64
 1   years_of_insurance_with_us      25000 non-null  int64
 2   regular_checkup_lasy_year       25000 non-null  int64
 3   adventure_sports                25000 non-null  int64
 4   Occupation                      25000 non-null  object
 5   visited_doctor_last_1_year      25000 non-null  int64
 6   cholesterol_level               25000 non-null  object
 7   daily_avg_steps                 25000 non-null  int64
 8   age                             25000 non-null  int64
 9   heart_decs_history              25000 non-null  int64
 10  other_major_decs_history        25000 non-null  int64
 11  Gender                          25000 non-null  object
 12  avg_glucose_level               25000 non-null  int64
 13  bmi                             25000 non-null  float64
 14  smoking_status                  25000 non-null  object
 15  Year_last_admitted              25000 non-null  float64
 16  Location                        25000 non-null  object
 17  weight                          25000 non-null  int64
 18  covered_by_any_other_company    25000 non-null  object
 19  Alcohol                         25000 non-null  object
 20  exercise                        25000 non-null  object
 21  weight_change_in_last_one_year  25000 non-null  int64
 22  fat_percentage                  25000 non-null  int64
 23  insurance_cost                  25000 non-null  int64
dtypes: float64(2), int64(14), object(8)
memory usage: 4.6+ MB
None

In [80]:
# print(df['Occupation'].value_counts())


# df.drop(['Occupation','Salried'],axis=1,inplace=True)
# print(df)
# for i in pd.unique(df['Occupation'].values):
#     df.loc[df["Occupation"]!=i, i] = 0
#     df.loc[df["Occupation"]==i, i] = 1

# print(df)
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values

for col in non_numeric_cols:
    check = 0
    for i in pd.unique(df[col].values):
        df.loc[df[col]!=i, i] = 0
        df.loc[df[col]==i, i] = 1
        if check ==0:
            df.drop(i, axis=1, inplace=True)
            check = 1
    df.drop(col, axis=1, inplace=True)
print(df)
print(df.shape)

# normalize data

cols = df.columns
print(cols)
for i in cols:
    if i != 'insurance_cost':
        df[i] = (df[i]-df[i].min())/(df[i].max()-df[i].min())

df.to_csv('./cleaned_data.csv')

# corr = df.corr()
# import seaborn as sns
# import matplotlib.pyplot as plt
# import pandas as pd
# #paint correlation
# corr = pd.DataFrame(corr,columns=corr.keys(),index=corr.keys())
# fig, ax = plt.subplots(figsize=(20,15))  
# sns.heatmap(corr, annot=True, cmap='PiYG', linewidths=1, linecolor='white', fmt='.1f',ax=ax)
# plt.show()

       applicant_id  years_of_insurance_with_us  regular_checkup_lasy_year  \
0              5000                           3                          1
1              5001                           0                          0
2              5002                           1                          0
3              5003                           7                          4
4              5004                           3                          1
...             ...                         ...                        ...
24995         29995                           3                          0
24996         29996                           6                          0
24997         29997                           7                          0
24998         29998                           1                          0
24999         29999                           8                          2

       adventure_sports  visited_doctor_last_1_year  daily_avg_steps  age  \
0                     1                           2             4866   28
1                     0                           4             6411   50
2                     0                           4             4509   68
3                     0                           2             6214   51
4                     0                           2             4938   44
...                 ...                         ...              ...  ...
24995                 0                           4             5614   22
24996                 0                           4             4719   58
24997                 1                           2             5624   34
24998                 0                           2            10777   27
24999                 0                           4             5882   22

       heart_decs_history  other_major_decs_history  avg_glucose_level  ...  \
0                       1                         0                 97  ...
1                       0                         0                212  ...
2                       0                         0                166  ...
3                       0                         0                109  ...
4                       0                         1                118  ...
...                   ...                       ...                ...  ...
24995                   0                         0                145  ...
24996                   0                         0                134  ...
24997                   0                         1                151  ...
24998                   0                         0                 66  ...
24999                   1                         0                245  ...

       Kanpur  Mangalore  Kolkata  Delhi  Ahmedabad  Lucknow    Y  Daily   No  \
0         0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
1         0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
2         0.0        0.0      0.0    0.0        0.0      0.0  0.0    1.0  0.0
3         0.0        0.0      0.0    0.0        0.0      0.0  1.0    0.0  1.0
4         0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
...       ...        ...      ...    ...        ...      ...  ...    ...  ...
24995     1.0        0.0      0.0    0.0        0.0      0.0  1.0    0.0  0.0
24996     1.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
24997     0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
24998     0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  0.0
24999     0.0        0.0      0.0    0.0        0.0      0.0  0.0    0.0  1.0

       Extreme
0          0.0
1          0.0
2          1.0
3          0.0
4          1.0
...        ...
24995      0.0
24996      0.0
24997      0.0
24998      0.0
24999      0.0

[25000 rows x 44 columns]
(25000, 44)
Index(['applicant_id', 'years_of_insurance_with_us',
       'regular_checkup_lasy_year', 'adventure_sports',
       'visited_doctor_last_1_year', 'daily_avg_steps', 'age',
       'heart_decs_history', 'other_major_decs_history', 'avg_glucose_level',
       'bmi', 'Year_last_admitted', 'weight', 'weight_change_in_last_one_year',
       'fat_percentage', 'insurance_cost', 'Student', 'Business', '150 to 175',
       '200 to 225', '175 to 200', '225 to 250', 'Female', 'formerly smoked',
       'never smoked', 'smokes', 'Jaipur', 'Bangalore', 'Bhubaneswar',
       'Guwahati', 'Mumbai', 'Nagpur', 'Surat', 'Pune', 'Kanpur', 'Mangalore',
       'Kolkata', 'Delhi', 'Ahmedabad', 'Lucknow', 'Y', 'Daily', 'No',
       'Extreme'],
      dtype='object')